<h1>Hello, Rails!</h1>
<h5><%= link_to 'My Blog', 'articles', :class => "btn btn-success" %></h5><br><br>

<h3><div>This blog is a basic information provider page, which provides basic info related to ROR technologies and gems </div></h3>